<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="text-2xl">New Beginning</span>
  <span class="flex-auto"></span>
</mat-toolbar>

<mat-drawer-container class="w-full h-full" autosize>
  <mat-drawer #drawer class="p-5" mode="over">
    <button mat-button class="w-full text-lg" routerLink="/">Admin</button>
    <button mat-button class="w-full text-lg" routerLink="list">Members</button>
  </mat-drawer>
  
  <router-outlet></router-outlet>

</mat-drawer-container>